<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got <a href=<%= @download_url %>>a new file to download!<a></p>
  </body>
</html>